@use 'sass:meta';

html[data-color-mode='dark'] {
  .markdown-body {
    h1,
    h2 {
      // border-color: var(--color-border-primary);
    }

    img {
      filter: brightness(0.8) contrast(1.2);
      background-color: transparent;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      .octicon-link {
        color: var(--color-text-muted);
      }
    }

    mark {
      background-color: var(--color-scale-yellow-8);
    }
  }

  @include meta.load-css(
    '@yukaii/github-highlightjs-themes/themes/github-dark-dimmed.css'
  );
}
